@page
@model IndexModel
@{
ViewData["Title"] = "Home";
}

<div class="row align-items-center justify-content-center">
	<div class="col-auto pr-0">
		<img src="/img/logo.svg" style="height: 4rem" alt="rocket logo">
	</div>
	<div class="col-auto">
		<h1 class="display-3 text-primary">Peerra</h1>
	</div>
</div>
<div class="text-center">
	<p class="lead">Empowered Peers Helping Each Other</p>
</div>

@if (!Model.IsSignedIn) {
<hr>
<div class="row">
	<div class="col-md">
		<div class="text-center">
			<h1 class="display-4">I Need Help!</h1>
			<a asp-page="/Topics/Start" class="btn btn-lg btn-outline-primary">Start Here</a>
		</div>
		<hr class="d-md-none">
	</div>
	<div class="col-md">
		<div class="text-center">
			<h1 class="display-4">I Want To Help!</h1>
			<a href="" class="btn btn-lg btn-outline-success">Start Here</a>
		</div>
	</div>
</div>
} else {
<hr class="mb-2">
<div class="row">
	<div class="col-md">
		<h3>My Issues</h3>
		@if (Model.MyIssues.Count == 0) {
		<h5 class="text-muted mb-3">When you add issues, they'll show up here.</h5>
		<a asp-page="/Topics/Start" class="btn btn-outline-primary">Add An Issue</a>
		}
		else {
		<div class="list-group mb-3">
			@foreach (var issue in Model.MyIssues) {
			<a asp-page="/Issues/Single" asp-route-id="@issue.Id" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
				<h5 class="mb-0">@issue.Topic.Title: @issue.Title</h5>
				@if (issue.UnseenHelpRequestsCount != 0) {
				<span class="badge badge-primary badge-pill">@issue.UnseenHelpRequestsCount</span>
				}
			</a>
			}
		</div>
		<div class="d-flex">
			<a asp-page="/Topics/Start" class="btn btn-outline-primary mr-2">Add An Issue</a>
			<a asp-page="/Issues/All" class="btn btn-outline-secondary">See More</a>
		</div>
		}
	</div>
	<div class="col-md">
		<hr class="mb-2 d-md-none">
		<h3>Peer Issues</h3>
		@if (Model.OthersIssues.Count == 0) {
		<h5 class="text-muted mb-3">When your peers have issues you can solve, they'll show up here.</h5>
		} else {
		<div class="list-group mb-3">
			@foreach (var issue in Model.OthersIssues) {
			<a asp-page="/Issues/Peer" asp-route-id="@issue.Id" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
				<h5 class="mb-0">@issue.Topic.Title: @issue.Title</h5>
			</a>
			}
		</div>
		<a asp-page="/Issues/Others" class="btn btn-outline-secondary">See More</a>
		}
	</div>
</div>
}

<br>

<style>
	.display-4 {
		font-size: 3rem;
	}
</style>
