@page "{id}"
@model TopicHelpModel
@using Microsoft.AspNetCore.Html
@{
ViewData["Title"] = "Topic Help";
var hasPrimary = Model.PrimaryUsers.Count() != 0;
var hasSecondary = Model.SecondaryUsers.Count() != 0;
}

<h1>We Found You Some Help</h1>
<p>Click on a user to see their profile.</p>
<hr>

<table class="table table-hover table-borderless">
    @if (hasPrimary) {
    <thead>
        <tr>
            <th>Peers With @Model.Topic.Title Experience</th>
            <th>Number of Related Skills</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.PrimaryUsers) {
        <tr class="link-row">
            <td>
                <a href="#">@user.User.UserName</a>
            </td>
            <td>
                <a href="#">@user.RelatedTopicCount</a>
            </td>
        </tr>
        }
    </tbody>
    }
    @if (hasSecondary) {
    <thead>
        <tr>
            <th>Peers With Related Experience</th>
            <th>Number of Related Skills</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.SecondaryUsers) {
        <tr class="link-row">
            <td>
                <a href="#">@user.User.UserName</a>
            </td>
            <td>
                <a href="#">@user.RelatedTopicCount</a>
            </td>
        </tr>
        }
    </tbody>
    }
</table>

<style>
    tr.link-row td a {
        display: inline-block;
        min-height: 100%;
        width: 100%;
        padding: .75rem;
    }

    tr.link-row td {
        padding: 0 !important;
    }
</style>
